@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*
 * Custom styles
*/
body{
  font-family: 'Montserrat', sans-serif;
  min-height: 90vh;
}

#root{
  min-height: 90vh;
}

.display-block{
  display: block;
}

.custom-tag{
  pointer-events: none;
  padding-left: 16px!important;
  padding-right: 16px!important;
}

.container-app{
  min-height: 90vh;
  /* background-color: #212529; */
}

.container-app .card{
  border: none;
}

.container-app .card-img-top{
  /* background-color: #d2d2d2; */
  border-bottom: 2px solid #212529;
}

.container-app .card-title{
  font-weight: bold;
}

.container-app .card-text{
  font-size: 0.875rem;
}

.container-app .card-text.txt-price{
  font-size: 1.25rem;
  font-weight: bold;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center/8px 10px no-repeat;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  appearance: none;
}